atomai_app/data/graphene_imgstacks_dict.npy
atomai_app/data/
**/__pycache__/**
**/.conda/**
**/.ipynb/**
**/.conda/**
**.pyc

# IDE files
.idea/

# Python
__pycache__/
*.pyc

# ML model weights
*.pth
*.pt
*.ckpt

# Third-party repos
grain_unet-master/